 body {
 	background-image:url("Resources/mountainBackground.jpg");
 	background-attachment: fixed;
 	background-size: 100% auto;
 	background-position:center;
 	text-align:center;
 }





 #navigation_items{
	/* formating of the task bar */
	list-style-type:none;
	margin:0;
	padding:0;
	
}
#navigation_items li {
	
	display: inline;
}
#navigation_items li a {
	text-decoration: none;
	color:black;
}

