@font-face{
	font-family: 'BigCaslonMedium';
	src: url("Resources/bigCaslonMedium.woff") format('woff');
}

* {
	font-family: BigCaslonMedium;
	margin: 0;
}

html, body {
    background-image: url("Resources/background.jpg");
	background-size: cover;
	background-color: #DDDDDD;
	background-repeat: no-repeat;
	background-position:center 220px;
	height: 100%;
}

body {
	text-align:center;
    min-width: 720px;
}

 .wrapper {
 	margin: 0 0 -39px;
 	min-height: 100%;
 	height: auto !important;
    min-width: auto;
 }

 .logo {
 	background-color: #E3F8FF;
 	border-bottom: #004B4C solid 3px;
    padding: 9px;   
    width: auto;
 }

.navigationBar {
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 40px;
	width: 640px;
	background-color: #E3F8FF;
	padding: 9px;
	border: #004B4C solid 2px;
	border-radius: 4px;
}

 #navigationItems{
	/* formating of the task bar */
	font-size: 100%;
	list-style-type: none;
	width: auto;
	margin: 0;
	padding: 0;
	
}

#navigationItems li {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline;
	white-space: nowrap;
    text-decoration: none;
    color: black;
}
#navigationItems li a {
	text-decoration: none;
	color: black;
}


#navigationItems li {
	border-radius: 3px;
    -o-transition:.4s;
  	-ms-transition:.4s;
  	-moz-transition:.4s;
  	-webkit-transition:.4s;
  	transition:.4s;
}

#navigationItems li:hover {
    background-color: #004B4C;
}  

#navigationItems li a:hover {
    color: white;
}

.content {
	padding: 20px 30px 20px;
	color: #000000;
	margin: 20px auto;
	width: 600px;
	background-color: #E3F8FF;
	border: #004B4C solid 2px;
	border-radius: 5px;
	text-align: justify;
}

.content h1 {
	text-align: center;
}

footer ul {
	text-align: center;
	white-space: nowrap;
}

footer #footerList li{
	display: inline-block;
}

#footerLink {
	text-decoration: none;
}


/* Used to push footer to the bottom */
.push{
	height: 31px;
}

footer{
	color: #E3F8FF;
	background-color: #002D35;
	padding-top: 9px;
	height: 30px;
	width: auto;
	position: relative;
	left: 0px;
	bottom: 0px;
}

