.pi-accordion {
  margin-bottom: 20px;
}
.pi-accordion .pi-accordion-item {
  border-bottom: 1px dashed transparent;
}
.pi-accordion .pi-accordion-item:last-child {
  border-bottom: 0;
}
.pi-accordion .pi-accordion-title {
  margin-bottom: 0;
}
.pi-accordion .pi-accordion-title *[class^="fa fa-"],
.pi-accordion .pi-accordion-title *[class*=" fa fa-"] {
  margin-right: 8px;
}
.pi-accordion .pi-accordion-title a {
  padding: 15px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 157%;
  letter-spacing: normal;
  display: block;
  position: relative;
  border-bottom: 0;
  text-transform: none;
  padding-left: 36px;
}
.pi-accordion .pi-accordion-title a:active,
.pi-accordion .pi-accordion-title a:focus {
  outline: none;
}
.pi-accordion .pi-accordion-title .pi-accordion-toggle {
  display: block;
  position: absolute;
  top: 13px;
  left: 0px;
  font-weight: normal;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-accordion .pi-accordion-title .pi-accordion-toggle:after {
  font-family: "fontello";
  content: '\e8d4';
}
.pi-accordion .pi-accordion-item-active .pi-accordion-title .pi-accordion-toggle:after {
  content: '\e8d2';
}
.pi-accordion .pi-accordion-content {
  overflow: hidden;
}
.pi-accordion .pi-accordion-content > div {
  margin: 15px 0 20px;
}
.pi-accordion.pi-behavior-toggle .pi-accordion-title .pi-accordion-toggle {
  font-size: 17px;
  line-height: 22px;
}
.pi-accordion.pi-behavior-toggle .pi-accordion-title .pi-accordion-toggle:after {
  content: "\e918";
}
.pi-accordion.pi-behavior-toggle .pi-accordion-item-active .pi-accordion-title .pi-accordion-toggle:after {
  content: "\e91b";
}
.pi-accordion-titles-icon-right .pi-accordion-title a {
  padding-right: 36px;
  padding-left: 0;
}
.pi-accordion-titles-icon-right .pi-accordion-title a .pi-accordion-toggle {
  right: 0;
  left: auto;
}
.pi-section-white .pi-accordion .pi-accordion-item {
  border-color: #d6dfdf;
}
.pi-section-white .pi-accordion .pi-accordion-title a {
  color: #4d5258;
  text-shadow: transparent;
}
.pi-section-white .pi-accordion .pi-accordion-title a .pi-accordion-toggle {
  border-color: #dce3e3;
  border-top-color: #dce3e3;
  background: #f4f6f6;
  color: #586266;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #f8fafa;
  -moz-box-shadow: inset 0 1px 0 #f8fafa;
  box-shadow: inset 0 1px 0 #f8fafa;
}
.pi-section-white .pi-accordion .pi-accordion-title a:hover {
  color: #e86343;
  text-shadow: transparent;
}
.pi-section-white .pi-accordion .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #dce3e3;
  border-top-color: #dce3e3;
  background: #f4f6f6;
  color: #586266;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #f8fafa;
  -moz-box-shadow: inset 0 1px 0 #f8fafa;
  box-shadow: inset 0 1px 0 #f8fafa;
}
.pi-section-white .pi-accordion .pi-accordion-item-active .pi-accordion-title a {
  color: #4d5258;
  text-shadow: transparent;
}
.pi-section-white .pi-accordion .pi-accordion-item-active .pi-accordion-title a .pi-accordion-toggle {
  border-color: #dd5437;
  border-top-color: #dd5437;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #eb6f4b;
  -moz-box-shadow: inset 0 1px 0 #eb6f4b;
  box-shadow: inset 0 1px 0 #eb6f4b;
}
.pi-section-white .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover {
  color: #e86343;
  text-shadow: transparent;
}
.pi-section-white .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #dd5437;
  border-top-color: #dd5437;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #eb6f4b;
  -moz-box-shadow: inset 0 1px 0 #eb6f4b;
  box-shadow: inset 0 1px 0 #eb6f4b;
}
.pi-section-grey .pi-accordion .pi-accordion-item {
  border-color: #d4dddd;
}
.pi-section-grey .pi-accordion .pi-accordion-title a {
  color: #4d5258;
  text-shadow: transparent;
}
.pi-section-grey .pi-accordion .pi-accordion-title a .pi-accordion-toggle {
  border-color: #dce3e3;
  border-top-color: #dce3e3;
  background: #f4f6f6;
  color: #586266;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #f8fafa;
  -moz-box-shadow: inset 0 1px 0 #f8fafa;
  box-shadow: inset 0 1px 0 #f8fafa;
}
.pi-section-grey .pi-accordion .pi-accordion-title a:hover {
  color: #e86343;
  text-shadow: transparent;
}
.pi-section-grey .pi-accordion .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #dce3e3;
  border-top-color: #dce3e3;
  background: #f4f6f6;
  color: #586266;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #f8fafa;
  -moz-box-shadow: inset 0 1px 0 #f8fafa;
  box-shadow: inset 0 1px 0 #f8fafa;
}
.pi-section-grey .pi-accordion .pi-accordion-item-active .pi-accordion-title a {
  color: #4d5258;
  text-shadow: transparent;
}
.pi-section-grey .pi-accordion .pi-accordion-item-active .pi-accordion-title a .pi-accordion-toggle {
  border-color: #dd5437;
  border-top-color: #dd5437;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #eb6f4b;
  -moz-box-shadow: inset 0 1px 0 #eb6f4b;
  box-shadow: inset 0 1px 0 #eb6f4b;
}
.pi-section-grey .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover {
  color: #e86343;
  text-shadow: transparent;
}
.pi-section-grey .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #dd5437;
  border-top-color: #dd5437;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #eb6f4b;
  -moz-box-shadow: inset 0 1px 0 #eb6f4b;
  box-shadow: inset 0 1px 0 #eb6f4b;
}
.pi-section-base .pi-accordion .pi-accordion-item {
  border-color: #f48567;
}
.pi-section-base .pi-accordion .pi-accordion-title a {
  color: #ffffff;
  text-shadow: transparent;
}
.pi-section-base .pi-accordion .pi-accordion-title a .pi-accordion-toggle {
  border-color: #bf3821;
  border-top-color: #bf3821;
  background: #c93f25;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #cd4428;
  -moz-box-shadow: inset 0 1px 0 #cd4428;
  box-shadow: inset 0 1px 0 #cd4428;
}
.pi-section-base .pi-accordion .pi-accordion-title a:hover {
  color: #ffffff;
  text-shadow: transparent;
}
.pi-section-base .pi-accordion .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #bf3821;
  border-top-color: #bf3821;
  background: #c93f25;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #cd4428;
  -moz-box-shadow: inset 0 1px 0 #cd4428;
  box-shadow: inset 0 1px 0 #cd4428;
}
.pi-section-base .pi-accordion .pi-accordion-item-active .pi-accordion-title a {
  color: #ffffff;
  text-shadow: transparent;
}
.pi-section-base .pi-accordion .pi-accordion-item-active .pi-accordion-title a .pi-accordion-toggle {
  border-color: #bf3821;
  border-top-color: #bf3821;
  background: #c93f25;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #cd4428;
  -moz-box-shadow: inset 0 1px 0 #cd4428;
  box-shadow: inset 0 1px 0 #cd4428;
}
.pi-section-base .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover {
  color: #ffffff;
  text-shadow: transparent;
}
.pi-section-base .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #bf3821;
  border-top-color: #bf3821;
  background: #c93f25;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 #cd4428;
  -moz-box-shadow: inset 0 1px 0 #cd4428;
  box-shadow: inset 0 1px 0 #cd4428;
}
.pi-section-dark .pi-accordion .pi-accordion-item {
  border-color: #333941;
}
.pi-section-dark .pi-accordion .pi-accordion-title a {
  color: #c6ccd0;
  text-shadow: transparent;
}
.pi-section-dark .pi-accordion .pi-accordion-title a .pi-accordion-toggle {
  border-color: #2d323a;
  border-top-color: #393f47;
  background: #2d323a;
  color: #c9d1d6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pi-section-dark .pi-accordion .pi-accordion-title a:hover {
  color: #e86343;
  text-shadow: transparent;
}
.pi-section-dark .pi-accordion .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #2d323a;
  border-top-color: #393f47;
  background: #2d323a;
  color: #c9d1d6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pi-section-dark .pi-accordion .pi-accordion-item-active .pi-accordion-title a {
  color: #c6ccd0;
  text-shadow: transparent;
}
.pi-section-dark .pi-accordion .pi-accordion-item-active .pi-accordion-title a .pi-accordion-toggle {
  border-color: #e86343;
  border-top-color: #ed7e60;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-dark .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover {
  color: #e86343;
  text-shadow: transparent;
}
.pi-section-dark .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #e86343;
  border-top-color: #ed7e60;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-parallax .pi-accordion .pi-accordion-item {
  border-color: #242427;
}
.pi-section-parallax .pi-accordion .pi-accordion-title a {
  color: #cbcbce;
  text-shadow: transparent;
}
.pi-section-parallax .pi-accordion .pi-accordion-title a .pi-accordion-toggle {
  border-color: #222325;
  border-top-color: #2c2d30;
  background: #222325;
  color: #e1e1e5;
  text-shadow: 0 -1px 0 #161719;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.pi-section-parallax .pi-accordion .pi-accordion-title a:hover {
  color: #5281d2;
  text-shadow: transparent;
}
.pi-section-parallax .pi-accordion .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #1d1e21;
  border-top-color: #25262a;
  background: #1d1e21;
  color: #b7b7bb;
  text-shadow: 0 -1px 0 #141417;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.pi-section-parallax .pi-accordion .pi-accordion-item-active .pi-accordion-title a {
  color: #cbcbce;
  text-shadow: transparent;
}
.pi-section-parallax .pi-accordion .pi-accordion-item-active .pi-accordion-title a .pi-accordion-toggle {
  border-color: #e86343;
  border-top-color: #5aa9f5;
  background: #e86343;
  color: #ffffff;
  text-shadow: 0 -1px 0 #2c64e9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.pi-section-parallax .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover {
  color: #5281d2;
  text-shadow: transparent;
}
.pi-section-parallax .pi-accordion .pi-accordion-item-active .pi-accordion-title a:hover .pi-accordion-toggle {
  border-color: #3a66b3;
  border-top-color: #578aca;
  background: #3a66b3;
  color: #ffffff;
  text-shadow: 0 -1px 0 #234798;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
