hr {
  height: 0;
  border: 0;
  margin: 25px 0;
  overflow: hidden;
}
hr.pi-divider-big {
  margin: 40px 0;
}
hr.pi-divider-bigger {
  margin: 60px 0;
}
.pi-row + hr {
  margin: 5px 0 25px;
}
.pi-row + hr.pi-divider-big {
  margin: 20px 0 40px;
}
.pi-row + hr.pi-divider-bigger {
  margin: 40px 0 60px;
}
hr.pi-divider {
  border-top: 1px solid transparent;
}
hr.pi-divider-double {
  height: 9px;
  position: relative;
}
hr.pi-divider-double:before,
hr.pi-divider-double:after {
  display: block;
  content: "";
  border-top: 1px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
}
hr.pi-divider-double:before {
  top: 0;
}
hr.pi-divider-double:after {
  bottom: 0;
}
hr.pi-divider-dashed {
  border-top-style: dashed;
  border-bottom-style: dashed;
}
hr.pi-divider-dotted {
  border-top-style: dotted;
  border-bottom-style: dotted;
}
hr.pi-divider-gap-10 {
  margin: 5px 0;
}
hr.pi-divider-gap-15 {
  margin: 7px 0;
}
hr.pi-divider-gap-20 {
  margin: 10px 0;
}
hr.pi-divider-gap-30 {
  margin: 15px 0;
}
hr.pi-divider-gap-40 {
  margin: 20px 0;
}
hr.pi-divider-gap-50 {
  margin: 25px 0;
}
hr.pi-divider-gap-60 {
  margin: 30px 0;
}
hr.pi-divider-gap-70 {
  margin: 35px 0;
}
hr.pi-divider-gap-80 {
  margin: 40px 0;
}
hr.pi-divider-gap-90 {
  margin: 45px 0;
}
hr.pi-divider-gap-100 {
  margin: 50px 0;
}
.pi-section-base hr {
  border-color: #e77051;
}
.pi-section-base hr:before,
.pi-section-base hr:after {
  border-color: #e77051;
}
.pi-section-base hr.pi-divider-dashed,
.pi-section-base hr.pi-divider-dotted {
  border-color: #f48567;
}
.pi-section-white hr {
  border-color: #e5eaea;
}
.pi-section-white hr:before,
.pi-section-white hr:after {
  border-color: #e5eaea;
}
.pi-section-white hr.pi-divider-dashed,
.pi-section-white hr.pi-divider-dotted {
  border-color: #d6dfdf;
}
.pi-section-grey hr {
  border-color: #e5eaea;
}
.pi-section-grey hr:before,
.pi-section-grey hr:after {
  border-color: #e5eaea;
}
.pi-section-grey hr.pi-divider-dashed,
.pi-section-grey hr.pi-divider-dotted {
  border-color: #d6dfdf;
}
.pi-section-dark hr {
  border-color: #2e343a;
}
.pi-section-dark hr:before,
.pi-section-dark hr:after {
  border-color: #2e343a;
}
.pi-section-dark hr.pi-divider-dashed,
.pi-section-dark hr.pi-divider-dotted {
  border-color: #333941;
}
.pi-section-parallax hr {
  border-color: rgba(250, 250, 250, 0.2);
}
.pi-section-parallax hr:before,
.pi-section-parallax hr:after {
  border-color: rgba(250, 250, 250, 0.2);
}
.pi-section-parallax hr.pi-divider-dashed,
.pi-section-parallax hr.pi-divider-dotted {
  border-color: rgba(250, 250, 250, 0.3);
}
