fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #777;
  border: 0;
  border-bottom: 1px solid #777;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.form-control::-moz-placeholder {
  color: #ffffff;
}
.form-control::-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-o-input-placeholder {
  color: #ffffff;
}
.form-control::input-placeholder {
  color: #ffffff;
}
.form-control {
  display: block;
  width: 100%;
  height: 1.6em;
  font-size: 14px;
  line-height: normal;
  vertical-align: middle;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 0.1s ease-in-out 0s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 0.1s ease-in-out 0s;
  -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 0.1s ease-in-out 0s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 0.1s ease-in-out 0s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s 0.1s ease-in-out 0s;
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.3);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 20px;
}
.radio,
.checkbox {
  display: block;
  min-height: 1.6em;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.form-control-static {
  margin-bottom: 0;
  padding-top: 21px;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #777;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .form-inline button[type="submit"] {
    margin-top: 28px;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.form-horizontal .form-group:after {
  clear: both;
}
.pi-row-block form {
  display: inline-block;
  -webkit-transition: margin-top 0.1s ease-in-out 0s;
  -moz-transition: margin-top 0.1s ease-in-out 0s;
  -ms-transition: margin-top 0.1s ease-in-out 0s;
  -o-transition: margin-top 0.1s ease-in-out 0s;
  transition: margin-top 0.1s ease-in-out 0s;
}
.pi-row-block input[type="text"],
.pi-row-block input[type="password"] {
  width: 120px;
}
.pi-row-block input[type="text"]:focus,
.pi-row-block input[type="password"]:focus {
  width: 160px;
}
.pi-row-block input[type="text"].pi-input-wide,
.pi-row-block input[type="password"].pi-input-wide {
  width: 160px;
}
.pi-menu-mobile form {
  padding: 20px 0;
}
.pi-menu-mobile input.pi-input-wide[type="text"] {
  width: 100%;
}
.form-control {
  height: 38px;
  display: inline-block;
  padding: 8px 11px 9px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.form-control.pi-form-control-changed {
  font-style: normal;
}
.input-lg {
  height: 46px;
  font-size: 16px;
  padding: 10px 14px 11px;
}
.input-sm {
  height: 28px;
  padding: 3px 6px 4px;
  font-size: 14px;
}
select.input-sm {
  line-height: 27px;
  padding: 0 0 1px;
}
textarea {
  min-height: 94px;
  resize: vertical;
}
select.form-control {
  padding-left: 8px;
  padding-right: 8px;
}
.checkbox {
  padding-left: 18px;
  margin-bottom: 15px;
}
.checkbox input[type="checkbox"] {
  margin-left: -18px;
}
.radio {
  padding-left: 18px;
  margin-bottom: 15px;
}
.radio input[type="radio"] {
  margin-left: -18px;
}
.pi-row-sm form .pi-btn,
.pi-row-md form .pi-btn,
.pi-row-lg form .pi-btn {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.input-group-addon {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pi-input-inline {
  display: inline-block;
}
.pi-input-with-icon {
  position: relative;
}
.pi-input-with-icon .form-control {
  padding-left: 31px;
}
.pi-input-with-icon select.form-control {
  padding-left: 27px;
}
.pi-input-with-icon .pi-input-icon {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1;
  font-size: 14px;
  line-height: 38px;
  color: #adadad;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-input-with-icon.pi-form-control-focused .pi-input-icon {
  color: #212126;
}
.pi-input-with-icon.pi-input-with-icon-lg .form-control {
  padding-left: 35px;
}
.pi-input-with-icon.pi-input-with-icon-lg select.form-control {
  padding-left: 33px;
}
.pi-input-with-icon.pi-input-with-icon-lg .pi-input-icon {
  left: 11px;
  font-size: 16px;
  line-height: 45px;
}
.pi-input-with-icon.pi-input-with-icon-sm .form-control {
  padding-left: 28px;
}
.pi-input-with-icon.pi-input-with-icon-sm select.form-control {
  padding-left: 24px;
}
.pi-input-with-icon.pi-input-with-icon-sm .pi-input-icon {
  left: 9px;
  font-size: 14px;
  line-height: 28px;
}
.pi-input-with-btn {
  position: relative;
}
.pi-input-with-btn .form-control {
  padding-right: 35px;
}
.pi-input-with-btn button {
  width: 28px;
  height: 28px;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -14px !important;
}
.pi-input-with-btn button i {
  margin: 0;
}
.pi-row-sm .pi-row-block form {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pi-row-sm .pi-row-block form .pi-input-with-icon .pi-input-icon {
  line-height: 36px;
  left: 10px;
}
.pi-row-sm .pi-row-block form .pi-input-with-icon .form-control {
  padding-left: 30px;
}
.pi-row-sm .pi-row-block form .form-control {
  padding: 7px 10px 8px;
  height: 36px;
}
.pi-row-sm .pi-row-block form .pi-grouped-input .pi-input-inline {
  margin-right: 42px !important;
}
.pi-row-md .pi-row-block form {
  margin-top: 16px;
  margin-bottom: 16px;
}
.pi-row-lg .pi-row-block form {
  margin-top: 29px;
  margin-bottom: 29px;
}
.pi-grouped-input button {
  float: right;
  border-radius: 0 3px 3px 0;
}
.pi-grouped-input .pi-input-inline {
  display: block;
  margin-right: 40px;
}
.pi-grouped-input .pi-input-inline input {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}
#recaptcha_image {
  box-sizing: content-box;
}
.pi-section-white .form-control:-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control::-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control:-ms-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control::-webkit-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control:hover:-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control:hover::-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control:hover:-ms-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control:hover::-webkit-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-white .form-control:focus:-moz-placeholder {
  color: #939fa4;
}
.pi-section-white .form-control:focus::-moz-placeholder {
  color: #939fa4;
}
.pi-section-white .form-control:focus:-ms-input-placeholder {
  color: #939fa4;
}
.pi-section-white .form-control:focus::-webkit-input-placeholder {
  color: #939fa4;
}
.pi-section-white .form-control {
  background: #f8fafa;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  color: #afb8bb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
}
.pi-section-white .form-control:hover {
  background: #f8fafa;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  color: #afb8bb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
}
.pi-section-white .form-control:focus {
  background: #ffffff;
  border-color: #12c3cc;
  border-top-color: #12c3cc;
  color: #939fa4;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.pi-section-white .form-control.pi-form-control-changed:focus {
  background: #ffffff;
  color: #2e343c;
}
.pi-section-white .pi-input-with-icon .pi-input-icon {
  color: #afb8bb;
  text-shadow: 0 1px 0 #ffffff;
}
.pi-section-white .pi-input-with-icon:hover .pi-input-icon {
  color: #afb8bb;
  text-shadow: 0 1px 0 #ffffff;
}
.pi-section-white .pi-input-with-icon.pi-form-control-focused .pi-input-icon {
  color: #2e343c;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-white .newListSelected {
  background: #f8fafa;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  color: #afb8bb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-white .pi-select-icon {
  color: #afb8bb;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-white .newListSelHover {
  background: #f8fafa;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
}
.stylish-select .pi-section-white .newListSelFocus {
  background: #ffffff;
  border-color: #12c3cc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.stylish-select .pi-section-white .newListSelFocus .pi-select-icon {
  color: #2e343c;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-white ul.newList {
  border-color: #12c3cc;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}
.stylish-select .pi-section-white ul.newList li {
  border-color: #d5d1df;
}
.stylish-select .pi-section-white ul.newList a {
  color: #6c6a75;
  background: #ffffff;
  border-bottom: 0 !important;
}
.stylish-select .pi-section-white ul.newList a:hover {
  background: #f7f8fa;
  color: #377eb7;
}
.stylish-select .pi-section-white ul.newList a.hiLite {
  background: #377eb7;
  color: #ffffff;
}
.stylish-select .pi-section-white label {
  color: #4d5258;
}
.pi-section-grey .form-control:-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control::-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control:-ms-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control::-webkit-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control:hover:-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control:hover::-moz-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control:hover:-ms-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control:hover::-webkit-input-placeholder {
  color: #afb8bb;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-grey .form-control:focus:-moz-placeholder {
  color: #939fa4;
}
.pi-section-grey .form-control:focus::-moz-placeholder {
  color: #939fa4;
}
.pi-section-grey .form-control:focus:-ms-input-placeholder {
  color: #939fa4;
}
.pi-section-grey .form-control:focus::-webkit-input-placeholder {
  color: #939fa4;
}
.pi-section-grey .form-control {
  background: #ffffff;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  color: #afb8bb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
}
.pi-section-grey .form-control:hover {
  background: #ffffff;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  color: #afb8bb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
}
.pi-section-grey .form-control:focus {
  background: #ffffff;
  border-color: #12c3cc;
  border-top-color: #12c3cc;
  color: #939fa4;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.pi-section-grey .form-control.pi-form-control-changed:focus {
  background: #ffffff;
  color: #2e343c;
}
.pi-section-grey .pi-input-with-icon .pi-input-icon {
  color: #afb8bb;
  text-shadow: 0 1px 0 #ffffff;
}
.pi-section-grey .pi-input-with-icon:hover .pi-input-icon {
  color: #afb8bb;
  text-shadow: 0 1px 0 #ffffff;
}
.pi-section-grey .pi-input-with-icon.pi-form-control-focused .pi-input-icon {
  color: #2e343c;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-grey .newListSelected {
  background: #ffffff;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  color: #afb8bb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-grey .pi-select-icon {
  color: #afb8bb;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-grey .newListSelHover {
  background: #ffffff;
  border-color: #dde1e1;
  border-top-color: #dde1e1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03);
}
.stylish-select .pi-section-grey .newListSelFocus {
  background: #ffffff;
  border-color: #12c3cc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.stylish-select .pi-section-grey .newListSelFocus .pi-select-icon {
  color: #2e343c;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-grey ul.newList {
  border-color: #12c3cc;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}
.stylish-select .pi-section-grey ul.newList li {
  border-color: #d5d1df;
}
.stylish-select .pi-section-grey ul.newList a {
  color: #6c6a75;
  background: #ffffff;
  border-bottom: 0 !important;
}
.stylish-select .pi-section-grey ul.newList a:hover {
  background: #f7f8fa;
  color: #377eb7;
}
.stylish-select .pi-section-grey ul.newList a.hiLite {
  background: #377eb7;
  color: #ffffff;
}
.stylish-select .pi-section-grey label {
  color: #4d5258;
}
.pi-section-base .form-control:-moz-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control::-moz-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control:-ms-input-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control::-webkit-input-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control:hover:-moz-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control:hover::-moz-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control:hover:-ms-input-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control:hover::-webkit-input-placeholder {
  color: #cebaba;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-base .form-control:focus:-moz-placeholder {
  color: #8c989d;
}
.pi-section-base .form-control:focus::-moz-placeholder {
  color: #8c989d;
}
.pi-section-base .form-control:focus:-ms-input-placeholder {
  color: #8c989d;
}
.pi-section-base .form-control:focus::-webkit-input-placeholder {
  color: #8c989d;
}
.pi-section-base .form-control {
  background: #fef1ec;
  border-color: #c93f25;
  border-top-color: #c93f25;
  color: #cebaba;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.pi-section-base .form-control:hover {
  background: #fef1ec;
  border-color: #c93f25;
  border-top-color: #c93f25;
  color: #cebaba;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.pi-section-base .form-control:focus {
  background: #ffffff;
  border-color: #c93f25;
  border-top-color: #c93f25;
  color: #8c989d;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}
.pi-section-base .form-control.pi-form-control-changed:focus {
  background: #ffffff;
  color: #2e343c;
}
.pi-section-base .pi-input-with-icon .pi-input-icon {
  color: #cebaba;
  text-shadow: none;
}
.pi-section-base .pi-input-with-icon:hover .pi-input-icon {
  color: #cebaba;
  text-shadow: none;
}
.pi-section-base .pi-input-with-icon.pi-form-control-focused .pi-input-icon {
  color: #2e343c;
  text-shadow: none;
}
.stylish-select .pi-section-base .newListSelected {
  background: #fef1ec;
  border-color: #c93f25;
  border-top-color: #c93f25;
  color: #cebaba;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-base .pi-select-icon {
  color: #cebaba;
  text-shadow: none;
  -webkit-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-base .newListSelHover {
  background: #fef1ec;
  border-color: #c93f25;
  border-top-color: #c93f25;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.stylish-select .pi-section-base .newListSelFocus {
  background: #ffffff;
  border-color: #c93f25;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.stylish-select .pi-section-base .newListSelFocus .pi-select-icon {
  color: #2e343c;
  text-shadow: none;
}
.stylish-select .pi-section-base ul.newList {
  border-color: #c93f25;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}
.stylish-select .pi-section-base ul.newList li {
  border-color: #d5d1df;
}
.stylish-select .pi-section-base ul.newList a {
  color: #cddfed;
  background: #2e74ad;
  border-bottom: 0 !important;
}
.stylish-select .pi-section-base ul.newList a:hover {
  background: #3981bb;
  color: #f4f9fd;
}
.stylish-select .pi-section-base ul.newList a.hiLite {
  background: #3981bb;
  color: #f4f9fd;
}
.stylish-select .pi-section-base label {
  color: #ffffff;
}
.pi-section-dark .form-control:-moz-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control::-moz-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control:-ms-input-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control::-webkit-input-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control:hover:-moz-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control:hover::-moz-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control:hover:-ms-input-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control:hover::-webkit-input-placeholder {
  color: #616b75;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-dark .form-control:focus:-moz-placeholder {
  color: #2e343c;
}
.pi-section-dark .form-control:focus::-moz-placeholder {
  color: #2e343c;
}
.pi-section-dark .form-control:focus:-ms-input-placeholder {
  color: #2e343c;
}
.pi-section-dark .form-control:focus::-webkit-input-placeholder {
  color: #2e343c;
}
.pi-section-dark .form-control {
  background: #2a3037;
  border-color: #2a3037;
  border-top-color: #1d2226;
  color: #616b75;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-dark .form-control:hover {
  background: #2a3037;
  border-color: #2a3037;
  border-top-color: #1d2226;
  color: #616b75;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-dark .form-control:focus {
  background: #ffffff;
  border-color: #12c3cc;
  border-top-color: #12c3cc;
  color: #2e343c;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.pi-section-dark .form-control.pi-form-control-changed:focus {
  background: #ffffff;
  color: #2e343c;
}
.pi-section-dark .pi-input-with-icon .pi-input-icon {
  color: #5a646d;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-section-dark .pi-input-with-icon:hover .pi-input-icon {
  color: #5a646d;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-section-dark .pi-input-with-icon.pi-form-control-focused .pi-input-icon {
  color: #2e343c;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-dark .newListSelected {
  background: #2a3037;
  border-color: #2a3037;
  border-top-color: #1d2226;
  color: #616b75;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-dark .pi-select-icon {
  color: #5a646d;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-dark .newListSelHover {
  background: #2a3037;
  border-color: #2a3037;
  border-top-color: #1d2226;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.stylish-select .pi-section-dark .newListSelFocus {
  background: #ffffff;
  border-color: #12c3cc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.stylish-select .pi-section-dark .newListSelFocus .pi-select-icon {
  color: #2e343c;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-dark ul.newList {
  border-color: #12c3cc;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.stylish-select .pi-section-dark ul.newList li {
  border-color: #800080;
}
.stylish-select .pi-section-dark ul.newList a {
  color: #8e8e96;
  background: #222325;
  border-bottom: 0 !important;
}
.stylish-select .pi-section-dark ul.newList a:hover {
  background: #262829;
  color: #babac1;
}
.stylish-select .pi-section-dark ul.newList a.hiLite {
  background: #262829;
  color: #babac1;
}
.stylish-select .pi-section-dark label {
  color: #c6ccd0;
}
.pi-section-parallax .form-control:-moz-placeholder {
  color: rgba(218, 231, 240, 0.45);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control::-moz-placeholder {
  color: rgba(218, 231, 240, 0.45);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control:-ms-input-placeholder {
  color: rgba(218, 231, 240, 0.45);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control::-webkit-input-placeholder {
  color: rgba(218, 231, 240, 0.45);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control:hover:-moz-placeholder {
  color: rgba(218, 231, 240, 0.55);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control:hover::-moz-placeholder {
  color: rgba(218, 231, 240, 0.55);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control:hover:-ms-input-placeholder {
  color: rgba(218, 231, 240, 0.55);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control:hover::-webkit-input-placeholder {
  color: rgba(218, 231, 240, 0.55);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-section-parallax .form-control:focus:-moz-placeholder {
  color: #242528;
}
.pi-section-parallax .form-control:focus::-moz-placeholder {
  color: #242528;
}
.pi-section-parallax .form-control:focus:-ms-input-placeholder {
  color: #242528;
}
.pi-section-parallax .form-control:focus::-webkit-input-placeholder {
  color: #242528;
}
.pi-section-parallax .form-control {
  background: rgba(0, 0, 0, 0.15);
  border-color: rgba(218, 231, 240, 0.25);
  border-top-color: rgba(218, 231, 240, 0.25);
  color: rgba(218, 231, 240, 0.45);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.pi-section-parallax .form-control:hover {
  background: rgba(218, 231, 240, 0.055);
  border-color: rgba(218, 231, 240, 0.35);
  border-top-color: rgba(218, 231, 240, 0.35);
  color: rgba(218, 231, 240, 0.55);
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
}
.pi-section-parallax .form-control:focus {
  background: #ffffff;
  border-color: #12c3cc;
  border-top-color: #12c3cc;
  color: #242528;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.pi-section-parallax .form-control.pi-form-control-changed:focus {
  background: #ffffff;
  color: #242528;
}
.pi-section-parallax .pi-input-with-icon .pi-input-icon {
  color: rgba(218, 231, 240, 0.45);
  text-shadow: none;
}
.pi-section-parallax .pi-input-with-icon:hover .pi-input-icon {
  color: rgba(218, 231, 240, 0.55);
  text-shadow: none;
}
.pi-section-parallax .pi-input-with-icon.pi-form-control-focused .pi-input-icon {
  color: #242528;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-parallax .newListSelected {
  background: rgba(0, 0, 0, 0.15);
  border-color: rgba(218, 231, 240, 0.25);
  border-top-color: rgba(218, 231, 240, 0.25);
  color: rgba(218, 231, 240, 0.45);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-parallax .pi-select-icon {
  color: rgba(218, 231, 240, 0.45);
  text-shadow: none;
  -webkit-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0.1s ease-in-out 0s;
}
.stylish-select .pi-section-parallax .newListSelHover {
  background: rgba(218, 231, 240, 0.055);
  border-color: rgba(218, 231, 240, 0.35);
  border-top-color: rgba(218, 231, 240, 0.35);
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2);
}
.stylish-select .pi-section-parallax .newListSelFocus {
  background: #ffffff;
  border-color: #12c3cc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.stylish-select .pi-section-parallax .newListSelFocus .pi-select-icon {
  color: #242528;
  text-shadow: 0 1px 0 #ffffff;
}
.stylish-select .pi-section-parallax ul.newList {
  border-color: #12c3cc;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.stylish-select .pi-section-parallax ul.newList li {
  border-color: #800080;
}
.stylish-select .pi-section-parallax ul.newList a {
  color: #8e8e96;
  background: #222325;
  border-bottom: 0 !important;
}
.stylish-select .pi-section-parallax ul.newList a:hover {
  background: #262829;
  color: #babac1;
}
.stylish-select .pi-section-parallax ul.newList a.hiLite {
  background: #262829;
  color: #babac1;
}
.stylish-select .pi-section-parallax label {
  color: rgba(218, 231, 240, 0.85);
}
