.pi-header {
  position: relative;
  z-index: 1001;
}
.pi-row-sm,
.pi-row-md,
.pi-row-lg {
  padding-top: 0;
  padding-bottom: 0;
}
.pi-row-sm img,
.pi-row-md img,
.pi-row-lg img {
  max-height: 100%;
}
.pi-row-sm .pi-full-height,
.pi-row-md .pi-full-height,
.pi-row-lg .pi-full-height {
  vertical-align: top;
}
.pi-row-sm:before,
.pi-row-md:before,
.pi-row-lg:before,
.pi-row-sm:after,
.pi-row-md:after,
.pi-row-lg:after {
  content: " ";
  display: table;
}
.pi-row-sm:after,
.pi-row-md:after,
.pi-row-lg:after {
  clear: both;
}
.pi-row-block {
  display: inline-block;
  margin: 0 10px;
  float: left;
  line-height: 1em;
  vertical-align: top;
  max-height: 100%;
}
.pi-row-block:first-child:not(.pi-pull-right) {
  margin-left: 0;
}
.pi-row-block.pi-pull-right:first-child,
.pi-row-block:not(.pi-pull-right) + .pi-pull-right {
  margin-right: 0;
}
.pi-row-block a {
  max-height: 100%;
}
.pi-row-block a:hover {
  text-decoration: none;
}
.pi-bordered {
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.pi-bordered:before,
.pi-bordered:after {
  display: block;
  width: 1px;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  background: transparent;
}
.pi-bordered:before {
  left: 0;
}
.pi-bordered:after {
  right: 0;
}
.pi-bordered:hover:before,
.pi-bordered:hover:after {
  background: transparent;
}
.pi-bordered:before,
.pi-bordered:after {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-row-block-logo a {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border-bottom: 0;
}
.pi-row-block-logo .pi-has-bg {
  -webkit-transition: background 0.1s ease-in-out 0s;
  -moz-transition: background 0.1s ease-in-out 0s;
  -ms-transition: background 0.1s ease-in-out 0s;
  -o-transition: background 0.1s ease-in-out 0s;
  transition: background 0.1s ease-in-out 0s;
}
.pi-row-block-logo img {
  display: block;
}
.pi-row-block-logo .pi-center-vertically {
  display: table;
}
.pi-row-block-logo .pi-center-vertically > span,
.pi-row-block-logo .pi-center-vertically > a {
  display: table-cell;
  vertical-align: middle;
}
.pi-row-lg .pi-row-block-logo img {
  max-height: 96px;
}
.pi-row-md .pi-row-block-logo img {
  max-height: 70px;
}
.pi-row-sm .pi-row-block-logo img {
  max-height: 46px;
}
.pi-row-block-txt {
  position: relative;
  line-height: 28px;
}
.pi-row-block-txt a {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.pi-row-block-icon {
  position: relative;
  margin: -3px 6px 0 0;
  font-size: 14px;
}
.pi-row-block-icon.pi-icon-circle,
.pi-row-block-icon.pi-icon-square {
  top: -1px;
  height: 26px;
  width: 26px;
  font-size: 14px;
  line-height: 26px;
  margin: 0 8px -9px 0;
}
.pi-row-sm {
  font-size: 14px;
}
.pi-row-sm .pi-big-font {
  font-size: 16px;
}
.pi-row-sm .pi-bigger-font {
  font-size: 18px;
  font-weight: 300;
}
.pi-row-sm .pi-row-block-txt {
  margin-top: 9px;
  margin-bottom: 9px;
}
.pi-row-sm .pi-center-vertically > span,
.pi-row-sm .pi-center-vertically > a {
  height: 46px;
}
.pi-row-md {
  font-size: 14px;
}
.pi-row-md .pi-big-font {
  font-size: 16px;
}
.pi-row-md .pi-bigger-font {
  font-size: 18px;
  font-weight: 300;
}
.pi-row-md .pi-row-block-txt {
  margin-top: 21px;
  margin-bottom: 21px;
}
.pi-row-md .pi-center-vertically > span,
.pi-row-md .pi-center-vertically > a {
  height: 70px;
}
.pi-row-lg {
  font-size: 14px;
}
.pi-row-lg .pi-big-font {
  font-size: 16px;
}
.pi-row-lg .pi-bigger-font {
  font-size: 18px;
  font-weight: 300;
}
.pi-row-lg .pi-full-height > li > a {
  line-height: 94px;
}
.pi-row-lg .pi-row-block-txt {
  margin-top: 34px;
  margin-bottom: 34px;
}
.pi-row-lg .pi-center-vertically > span,
.pi-row-lg .pi-center-vertically > a {
  height: 96px;
}
.pi-section-white .pi-row-block-logo .pi-has-bg {
  background: #f9fafa;
}
.pi-section-white .pi-row-block-logo .pi-has-bg:hover {
  background: #f3f4f5;
}
.pi-section-white .pi-row-block-logo .pi-bordered {
  border-color: #e0e2e4;
}
.pi-section-white .pi-row-block-logo .pi-bordered:before,
.pi-section-white .pi-row-block-logo .pi-bordered:after {
  display: block;
  width: 1px;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  background: transparent;
}
.pi-section-white .pi-row-block-logo .pi-bordered:before {
  left: 0;
}
.pi-section-white .pi-row-block-logo .pi-bordered:after {
  right: 0;
}
.pi-section-white .pi-row-block-logo .pi-bordered:hover:before,
.pi-section-white .pi-row-block-logo .pi-bordered:hover:after {
  background: transparent;
}
.pi-section-grey .pi-row-block-logo .pi-has-bg {
  background: #ffffff;
}
.pi-section-grey .pi-row-block-logo .pi-has-bg:hover {
  background: #e9eaeb;
}
.pi-section-grey .pi-row-block-logo .pi-bordered {
  border-color: #e0e2e4;
}
.pi-section-grey .pi-row-block-logo .pi-bordered:before,
.pi-section-grey .pi-row-block-logo .pi-bordered:after {
  display: block;
  width: 1px;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  background: transparent;
}
.pi-section-grey .pi-row-block-logo .pi-bordered:before {
  left: 0;
}
.pi-section-grey .pi-row-block-logo .pi-bordered:after {
  right: 0;
}
.pi-section-grey .pi-row-block-logo .pi-bordered:hover:before,
.pi-section-grey .pi-row-block-logo .pi-bordered:hover:after {
  background: transparent;
}
.pi-section-base .pi-row-block-logo .pi-has-bg {
  background: #3c8cbd;
}
.pi-section-base .pi-row-block-logo .pi-has-bg:hover {
  background: #3276b1;
}
.pi-section-base .pi-row-block-logo .pi-bordered {
  border-color: #5196c4;
}
.pi-section-base .pi-row-block-logo .pi-bordered:before,
.pi-section-base .pi-row-block-logo .pi-bordered:after {
  display: block;
  width: 1px;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  background: transparent;
}
.pi-section-base .pi-row-block-logo .pi-bordered:before {
  left: 0;
}
.pi-section-base .pi-row-block-logo .pi-bordered:after {
  right: 0;
}
.pi-section-base .pi-row-block-logo .pi-bordered:hover:before,
.pi-section-base .pi-row-block-logo .pi-bordered:hover:after {
  background: transparent;
}
.pi-section-dark .pi-row-block-logo .pi-has-bg {
  background: #383840;
}
.pi-section-dark .pi-row-block-logo .pi-has-bg:hover {
  background: #222227;
}
.pi-section-dark .pi-row-block-logo .pi-bordered {
  border-color: #41414a;
}
.pi-section-dark .pi-row-block-logo .pi-bordered:before,
.pi-section-dark .pi-row-block-logo .pi-bordered:after {
  display: block;
  width: 1px;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  background: transparent;
}
.pi-section-dark .pi-row-block-logo .pi-bordered:before {
  left: 0;
}
.pi-section-dark .pi-row-block-logo .pi-bordered:after {
  right: 0;
}
.pi-section-dark .pi-row-block-logo .pi-bordered:hover:before,
.pi-section-dark .pi-row-block-logo .pi-bordered:hover:after {
  background: transparent;
}
.pi-section-parallax .pi-row-block-logo .pi-has-bg {
  background: #2b2b31;
}
.pi-section-parallax .pi-row-block-logo .pi-has-bg:hover {
  background: #17171b;
}
.pi-section-parallax .pi-row-block-logo .pi-bordered {
  border-color: #323239;
}
.pi-section-parallax .pi-row-block-logo .pi-bordered:before,
.pi-section-parallax .pi-row-block-logo .pi-bordered:after {
  display: block;
  width: 1px;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  background: transparent;
}
.pi-section-parallax .pi-row-block-logo .pi-bordered:before {
  left: 0;
}
.pi-section-parallax .pi-row-block-logo .pi-bordered:after {
  right: 0;
}
.pi-section-parallax .pi-row-block-logo .pi-bordered:hover:before,
.pi-section-parallax .pi-row-block-logo .pi-bordered:hover:after {
  background: transparent;
}
