.pi-fixed #pi-all {
  max-width: 1120px;
  margin: 0 auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
#pi-all {
  position: relative;
  overflow: hidden;
}
.pi-copyright {
  line-height: 30px;
}
.pi-no-margin {
  margin: 0 !important;
}
.pi-no-margin-top {
  margin-top: 0 !important;
}
.pi-no-margin-right {
  margin-right: 0 !important;
}
.pi-no-margin-bottom {
  margin-bottom: 0 !important;
}
.pi-no-margin-left {
  margin-left: 0 !important;
}
.pi-no-padding {
  padding: 0 !important;
}
.pi-no-padding-top {
  padding-top: 0 !important;
}
.pi-no-padding-right {
  padding-right: 0 !important;
}
.pi-no-padding-bottom {
  padding-bottom: 0 !important;
}
.pi-no-padding-left {
  padding-left: 0 !important;
}
.pi-padding-top-10,
.pi-padding-top-bottom-10 {
  padding-top: 10px !important;
}
.pi-padding-top-15,
.pi-padding-top-bottom-15 {
  padding-top: 15px !important;
}
.pi-padding-top-20,
.pi-padding-top-bottom-20 {
  padding-top: 20px !important;
}
.pi-padding-top-25,
.pi-padding-top-bottom-25 {
  padding-top: 25px !important;
}
.pi-padding-top-30,
.pi-padding-top-bottom-30 {
  padding-top: 30px !important;
}
.pi-padding-top-40,
.pi-padding-top-bottom-40 {
  padding-top: 40px !important;
}
.pi-padding-top-50,
.pi-padding-top-bottom-50 {
  padding-top: 50px !important;
}
.pi-padding-top-60,
.pi-padding-top-bottom-60 {
  padding-top: 60px !important;
}
.pi-padding-top-70,
.pi-padding-top-bottom-70 {
  padding-top: 60px !important;
}
.pi-padding-top-80,
.pi-padding-top-bottom-80 {
  padding-top: 80px !important;
}
.pi-padding-top-90,
.pi-padding-top-bottom-90 {
  padding-top: 90px !important;
}
.pi-padding-top-100,
.pi-padding-top-bottom-100 {
  padding-top: 100px !important;
}
.pi-padding-top-110,
.pi-padding-top-bottom-110 {
  padding-top: 110px !important;
}
.pi-padding-top-120,
.pi-padding-top-bottom-120 {
  padding-top: 120px !important;
}
.pi-padding-top-130,
.pi-padding-top-bottom-130 {
  padding-top: 130px !important;
}
.pi-padding-top-140,
.pi-padding-top-bottom-140 {
  padding-top: 140px !important;
}
.pi-padding-top-150,
.pi-padding-top-bottom-150 {
  padding-top: 150px !important;
}
.pi-padding-top-160,
.pi-padding-top-bottom-160 {
  padding-top: 160px !important;
}
.pi-padding-top-170,
.pi-padding-top-bottom-170 {
  padding-top: 170px !important;
}
.pi-padding-bottom-10,
.pi-padding-top-bottom-10 {
  padding-bottom: 10px !important;
}
.pi-padding-bottom-15,
.pi-padding-top-bottom-15 {
  padding-bottom: 15px !important;
}
.pi-padding-bottom-20,
.pi-padding-top-bottom-20 {
  padding-bottom: 20px !important;
}
.pi-padding-bottom-25,
.pi-padding-top-bottom-25 {
  padding-bottom: 20px !important;
}
.pi-padding-bottom-30,
.pi-padding-top-bottom-30 {
  padding-bottom: 30px !important;
}
.pi-padding-bottom-40,
.pi-padding-top-bottom-40 {
  padding-bottom: 40px !important;
}
.pi-padding-bottom-50,
.pi-padding-top-bottom-50 {
  padding-bottom: 50px !important;
}
.pi-padding-bottom-60,
.pi-padding-top-bottom-60 {
  padding-bottom: 60px !important;
}
.pi-padding-bottom-70,
.pi-padding-top-bottom-70 {
  padding-bottom: 70px !important;
}
.pi-padding-bottom-80,
.pi-padding-top-bottom-80 {
  padding-bottom: 80px !important;
}
.pi-padding-bottom-90,
.pi-padding-top-bottom-90 {
  padding-bottom: 90px !important;
}
.pi-padding-bottom-100,
.pi-padding-top-bottom-100 {
  padding-bottom: 100px !important;
}
.pi-padding-bottom-110,
.pi-padding-top-bottom-110 {
  padding-bottom: 110px !important;
}
.pi-padding-bottom-120,
.pi-padding-top-bottom-120 {
  padding-bottom: 120px !important;
}
.pi-padding-bottom-130,
.pi-padding-top-bottom-130 {
  padding-bottom: 130px !important;
}
.pi-padding-bottom-140,
.pi-padding-top-bottom-140 {
  padding-bottom: 140px !important;
}
.pi-padding-bottom-150,
.pi-padding-top-bottom-150 {
  padding-bottom: 150px !important;
}
.pi-padding-bottom-160,
.pi-padding-top-bottom-160 {
  padding-bottom: 160px !important;
}
.pi-padding-bottom-170,
.pi-padding-top-bottom-170 {
  padding-bottom: 170px !important;
}
.pi-no-border {
  border: 0 !important;
}
.pi-no-border-top {
  border-top: 0 !important;
}
.pi-no-border-right {
  border-right: 0 !important;
}
.pi-no-border-bottom {
  border-bottom: 0 !important;
}
.pi-no-border-left {
  border-left: 0 !important;
}
.pi-no-border-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.pi-margin-sides-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.pi-margin-sides-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.pi-margin-sides-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.pi-margin-sides-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.pi-margin-sides-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.pi-margin-sides-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.pi-margin-sides-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.pi-margin-sides-0 {
  margin: 0 !important;
}
.pi-texture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pi-no-transitions {
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}
.pi-clearfix:before,
.pi-clearfix:after {
  content: " ";
  display: table;
}
.pi-clearfix:after {
  clear: both;
}
.pi-hide {
  display: none !important;
}
.pi-show {
  display: block !important;
}
.pi-pull-right {
  float: right !important;
}
.pi-pull-left {
  float: left !important;
}
.pi-left {
  float: left;
  margin: 20px 20px 20px 0;
}
.pi-right {
  float: right;
  margin: 20px 0 20px 20px;
}
.pi-center {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.pi-text-left {
  text-align: left;
}
.pi-text-right {
  text-align: right;
}
.pi-text-center {
  text-align: center;
}
.pi-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) !important;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) !important;
}
.pi-shadow-15 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
}
.pi-shadow-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07) !important;
}
.pi-bg-main-wood {
  background: url(../img/bg/wood.jpg) #ffffff;
}
.pi-bg-main-wood-dark {
  background: url(../img/bg/wood-dark.jpg) #ffffff;
}
.pi-bg-main-wood-light {
  background: url(../img/bg/wood-light.jpg) #ffffff;
}
.pi-bg-main-embossed-dark {
  background: url(../img/bg/embossed-dark.jpg) #ffffff;
}
.pi-hide-excess {
  overflow: hidden;
}
