@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.pi-visible-3xs,
.pi-visible-2xs,
.pi-visible-xs,
.pi-visible-sm,
.pi-visible-md {
  display: none !important;
}
@media (max-width: 319px) {
  .pi-hidden-3xs-only {
    display: none !important;
  }
  .pi-visible-3xs-only {
    display: block !important;
  }
  .pi-center-text-3xs-only {
    text-align: center !important;
  }
  .pi-center-text-3xs-only.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-3xs-only.pull-right {
    float: none !important;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .pi-hidden-2xs-only {
    display: none !important;
  }
  .pi-visible-2xs-only {
    display: block !important;
  }
  .pi-center-text-2xs-only {
    text-align: center !important;
  }
  .pi-center-text-2xs-only.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-2xs-only.pull-right {
    float: none !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .pi-hidden-xs-only {
    display: none !important;
  }
  .pi-visible-xs-only {
    display: block !important;
  }
  .pi-center-text-xs-only {
    text-align: center !important;
  }
  .pi-center-text-xs-only.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-xs-only.pull-right {
    float: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pi-hidden-sm-only {
    display: none !important;
  }
  .pi-visible-sm-only {
    display: block !important;
  }
  .pi-center-text-sm-only {
    text-align: center !important;
  }
  .pi-center-text-sm-only.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-sm-only.pull-right {
    float: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1119px) {
  .pi-hidden-md-only {
    display: none !important;
  }
  .pi-visible-md-only {
    display: block !important;
  }
  .pi-center-text-md-only {
    text-align: center !important;
  }
  .pi-center-text-md-only.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-md-only.pull-right {
    float: none !important;
  }
}
@media (min-width: 1120px) {
  .pi-hidden-lg-only {
    display: none !important;
  }
  .pi-visible-lg-only {
    display: block !important;
  }
  .pi-center-text-lg-only {
    text-align: center !important;
  }
  .pi-center-text-lg-only.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-lg-only.pull-right {
    float: none !important;
  }
}
@media (max-width: 319px) {
  .pi-hidden-3xs {
    display: none !important;
  }
  .pi-visible-3xs {
    display: block !important;
  }
  .pi-center-text-3xs {
    text-align: center !important;
  }
  .pi-center-text-3xs.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-3xs.pull-right {
    float: none !important;
  }
}
@media (max-width: 479px) {
  .pi-hidden-2xs {
    display: none !important;
  }
  .pi-visible-2xs {
    display: block !important;
  }
  .pi-center-text-2xs {
    text-align: center !important;
  }
  .pi-center-text-2xs.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-2xs.pull-right {
    float: none !important;
  }
}
@media (max-width: 767px) {
  .pi-hidden-xs {
    display: none !important;
  }
  .pi-visible-xs {
    display: block !important;
  }
  .pi-center-text-xs {
    text-align: center !important;
  }
  .pi-center-text-xs.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-xs.pull-right {
    float: none !important;
  }
}
@media (max-width: 991px) {
  .pi-hidden-sm {
    display: none !important;
  }
  .pi-visible-sm {
    display: block !important;
  }
  .pi-center-text-sm {
    text-align: center !important;
  }
  .pi-center-text-sm.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-sm.pull-right {
    float: none !important;
  }
}
@media (max-width: 1119px) {
  .pi-hidden-md {
    display: none !important;
  }
  .pi-visible-md {
    display: block !important;
  }
  .pi-center-text-md {
    text-align: center !important;
  }
  .pi-center-text-md.pi-row-block {
    float: text-align-left;
  }
  .pi-center-text-md.pull-right {
    float: none !important;
  }
}
.pi-hidden-lg {
  display: none !important;
}
.pi-center-text-lg {
  text-align: center !important;
}
.pi-center-text-lg.pi-row-block {
  float: text-align-left;
}
.pi-center-text-lg.pull-right {
  float: none !important;
}
