.pi-section-w {
  position: relative;
  -webkit-transition: background 0.1s ease-in-out 0s;
  -moz-transition: background 0.1s ease-in-out 0s;
  -ms-transition: background 0.1s ease-in-out 0s;
  -o-transition: background 0.1s ease-in-out 0s;
  transition: background 0.1s ease-in-out 0s;
}
.pi-section {
  max-width: 1120px;
  margin: 0 auto;
  padding: 60px 40px 40px;
  position: relative;
}
.pi-titlebar {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pi-titlebar h1 {
  margin-bottom: 0;
}
.pi-titlebar .pi-breadcrumb {
  font-size: 12px;
  line-height: 1.3em;
}
.pi-titlebar .pi-breadcrumb ul {
  display: inline;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  margin-left: 5px;
}
.pi-titlebar .pi-breadcrumb li {
  display: inline;
}
.pi-titlebar .pi-breadcrumb li:after {
  font-family: fontello;
  content: "\e8c8";
  margin: 0 5px 0 7px;
}
.pi-titlebar .pi-breadcrumb li:last-child:after {
  display: none;
}
.pi-titlebar.pi-titlebar-small {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pi-titlebar.pi-titlebar-small h1 {
  font-size: 26px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}
.pi-titlebar.pi-breadcrumb-only {
  padding-top: 17px;
  padding-bottom: 17px;
}
.pi-titlebar-breadcrumb-top .pi-breadcrumb {
  margin-bottom: 11px;
}
.pi-titlebar-breadcrumb-right {
  display: table;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}
.pi-titlebar-breadcrumb-right h1,
.pi-titlebar-breadcrumb-right .pi-breadcrumb {
  display: table-cell;
  vertical-align: middle;
}
.pi-titlebar-breadcrumb-right h1 {
  width: 60%;
  padding-right: 20px;
}
.pi-titlebar-breadcrumb-right .pi-breadcrumb {
  width: 40%;
  text-align: right;
  position: relative;
  top: 0px;
}
.pi-section-parallax {
  background-size: cover;
  background-repeat: repeat-y;
  background-position: 0 50%;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.pi-section-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.pi-section-high {
  width: 100%;
  display: table;
}
.pi-section-high .pi-section {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (min-width: 1120px) {
  .pi-section-parallax {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  .pi-section {
    padding: 55px 30px 35px;
  }
}
@media (max-width: 768px) {
  .pi-section {
    padding: 50px 20px 30px;
  }
}
.pi-section-white {
  background-color: #ffffff;
}
.pi-section-white.pi-borders {
  border-top: 1px solid #eef1f1;
  border-bottom: 1px solid #eef1f1;
}
.pi-section-white.pi-border-top {
  border-top: 1px solid #eef1f1;
}
.pi-section-white.pi-border-bottom {
  border-bottom: 1px solid #eef1f1;
}
.pi-section-white.pi-borders-light {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.pi-section-white.pi-border-top-light {
  border-top: 1px solid #ffffff;
}
.pi-section-white.pi-border-bottom-light {
  border-bottom: 1px solid #ffffff;
}
.pi-section-white.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.pi-header-sticky .pi-section-white.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.pi-section-white.pi-shadow-inside {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.pi-section-white.pi-shadow-inside-top {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}
.pi-section-white.pi-shadow-inside-bottom {
  -webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.08);
}
.pi-section-white .pi-breadcrumb {
  color: #a3adb4;
}
.pi-section-white .pi-breadcrumb li:after {
  color: #d8dee2;
}
.pi-section-grey {
  background-color: #f4f6f6;
}
.pi-section-grey.pi-borders {
  border-top: 1px solid #e6eaea;
  border-bottom: 1px solid #e6eaea;
}
.pi-section-grey.pi-border-top {
  border-top: 1px solid #e6eaea;
}
.pi-section-grey.pi-border-bottom {
  border-bottom: 1px solid #e6eaea;
}
.pi-section-grey.pi-borders-light {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.pi-section-grey.pi-border-top-light {
  border-top: 1px solid #ffffff;
}
.pi-section-grey.pi-border-bottom-light {
  border-bottom: 1px solid #ffffff;
}
.pi-section-grey.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.pi-header-sticky .pi-section-grey.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.pi-section-grey.pi-shadow-inside {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.12);
}
.pi-section-grey.pi-shadow-inside-top {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
}
.pi-section-grey.pi-shadow-inside-bottom {
  -webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.04);
}
.pi-section-grey .pi-breadcrumb {
  color: #9ca5ab;
}
.pi-section-grey .pi-breadcrumb li:after {
  color: #cfd6da;
}
.pi-section-base {
  background-color: #df5031;
}
.pi-section-base.pi-borders {
  border-top: 1px solid #ce2f19;
  border-bottom: 1px solid #ce2f19;
}
.pi-section-base.pi-border-top {
  border-top: 1px solid #ce2f19;
}
.pi-section-base.pi-border-bottom {
  border-bottom: 1px solid #ce2f19;
}
.pi-section-base.pi-borders-light {
  border-top: 1px solid #e77051;
  border-bottom: 1px solid #e77051;
}
.pi-section-base.pi-border-top-light {
  border-top: 1px solid #e77051;
}
.pi-section-base.pi-border-bottom-light {
  border-bottom: 1px solid #e77051;
}
.pi-section-base.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}
.pi-header-sticky .pi-section-base.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.pi-section-base.pi-shadow-inside {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.13);
}
.pi-section-base.pi-shadow-inside-top {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
}
.pi-section-base.pi-shadow-inside-bottom {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.12);
}
.pi-section-base .pi-breadcrumb {
  color: #f3c5b2;
}
.pi-section-base .pi-breadcrumb li:after {
  color: #f38b7d;
}
.pi-section-dark {
  background-color: #21252b;
}
.pi-section-dark.pi-borders {
  border-top: 1px solid #1a1e22;
  border-bottom: 1px solid #1a1e22;
}
.pi-section-dark.pi-border-top {
  border-top: 1px solid #1a1e22;
}
.pi-section-dark.pi-border-bottom {
  border-bottom: 1px solid #1a1e22;
}
.pi-section-dark.pi-borders-light {
  border-top: 1px solid #2e343a;
  border-bottom: 1px solid #2e343a;
}
.pi-section-dark.pi-border-top-light {
  border-top: 1px solid #2e343a;
}
.pi-section-dark.pi-border-bottom-light {
  border-bottom: 1px solid #2e343a;
}
.pi-section-dark.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.pi-header-sticky .pi-section-dark.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}
.pi-section-dark.pi-shadow-inside {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
}
.pi-section-dark.pi-shadow-inside-top {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pi-section-dark.pi-shadow-inside-bottom {
  -webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
}
.pi-section-dark .pi-breadcrumb {
  color: #858d91;
}
.pi-section-dark .pi-breadcrumb li:after {
  color: #475257;
}
.pi-section-parallax {
  background-color: #000000;
}
.pi-section-parallax.pi-borders {
  border-top: 1px solid #121315;
  border-bottom: 1px solid #121315;
}
.pi-section-parallax.pi-border-top {
  border-top: 1px solid #121315;
}
.pi-section-parallax.pi-border-bottom {
  border-bottom: 1px solid #121315;
}
.pi-section-parallax.pi-borders-light {
  border-top: 1px solid #242427;
  border-bottom: 1px solid #242427;
}
.pi-section-parallax.pi-border-top-light {
  border-top: 1px solid #242427;
}
.pi-section-parallax.pi-border-bottom-light {
  border-bottom: 1px solid #242427;
}
.pi-section-parallax.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pi-header-sticky .pi-section-parallax.pi-shadow-bottom {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.pi-section-parallax.pi-shadow-inside {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
}
.pi-section-parallax.pi-shadow-inside-top {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pi-section-parallax.pi-shadow-inside-bottom {
  -webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
}
.pi-section-parallax .pi-breadcrumb {
  color: rgba(250, 250, 250, 0.4);
}
.pi-section-parallax .pi-breadcrumb li:after {
  color: rgba(250, 250, 250, 0.2);
}
.pi-section-base-gradient {
  background: #e86343;
  /* Old browsers */

  background: -moz-linear-gradient(left, #e86343 0%, #c93f25 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e86343), color-stop(100%, #c93f25));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, #e86343 0%, #c93f25 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #e86343 0%, #c93f25 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #e86343 0%, #c93f25 100%);
  /* IE10+ */

  background: linear-gradient(to right, #e86343 0%, #c93f25 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e86343', endColorstr='#c93f25', GradientType=1);
  /* IE6-9 */

}
.pi-border-top-strong-base {
  border-top: 3px solid #e86343;
}
.pi-border-bottom-strong-base {
  border-bottom: 3px solid #e86343;
}
.pi-section-overlay-base {
  background: rgba(226, 82, 51, 0.9);
}
