table.pi-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}
table.pi-table tr,
table.pi-table th,
table.pi-table td {
  border-style: solid;
  border-width: 0;
}
table.pi-table thead tr th {
  font-weight: bold;
  border-bottom-width: 2px;
}
table.pi-table tbody tr td {
  border-bottom-width: 1px;
}
table.pi-table tbody tr:last-child {
  border-bottom-width: 0;
}
table.pi-table th,
table.pi-table td {
  padding: 9px 20px 10px;
}
table.pi-table i {
  margin-right: 8px;
}
table.pi-table.pi-table-hovered tbody tr {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
table.pi-table.pi-table-complex tr {
  border-bottom-width: 1px;
}
table.pi-table.pi-table-complex thead tr th {
  border-bottom-width: 1px;
}
table.pi-table.pi-table-complex thead:first-child tr:first-child th,
table.pi-table.pi-table-complex thead:first-child tr:first-child td,
table.pi-table.pi-table-complex tbody:first-child tr:first-child td,
table.pi-table.pi-table-complex tfoot:first-child tr:first-child td {
  border-top-width: 1px;
}
table.pi-table.pi-table-complex thead:last-child tr:last-child th,
table.pi-table.pi-table-complex thead:last-child tr:last-child td,
table.pi-table.pi-table-complex tbody:last-child tr:last-child td,
table.pi-table.pi-table-complex tfoot:last-child tr:last-child td {
  border-bottom-width: 1px;
}
table.pi-table.pi-table-complex th,
table.pi-table.pi-table-complex td {
  padding: 9px 20px 10px;
}
table.pi-table.pi-table-complex th:first-child,
table.pi-table.pi-table-complex td:first-child {
  border-left-width: 1px;
}
table.pi-table.pi-table-complex th:last-child,
table.pi-table.pi-table-complex td:last-child {
  border-right-width: 1px;
}
table.pi-table.pi-round {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
table.pi-table.pi-round thead:first-child tr:first-child th:first-child,
table.pi-table.pi-round thead:first-child tr:first-child td:first-child,
table.pi-table.pi-round tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
table.pi-table.pi-round thead:first-child tr:first-child th:last-child,
table.pi-table.pi-round thead:first-child tr:first-child td:last-child,
table.pi-table.pi-round tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
table.pi-table.pi-round tfoot:last-child tr:last-child td:first-child,
table.pi-table.pi-round tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
table.pi-table.pi-round tfoot:last-child tr:last-child td:last-child,
table.pi-table.pi-round tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
table.pi-table.pi-table-all-borders td,
table.pi-table.pi-table-all-borders th {
  border-left-width: 1px;
}
table.pi-table.pi-table-all-borders td:last-child,
table.pi-table.pi-table-all-borders th:last-child {
  border-right-width: 1px;
}
table.pi-table.pi-table-all-borders thead:first-child tr:first-child th,
table.pi-table.pi-table-all-borders thead:first-child tr:first-child td,
table.pi-table.pi-table-all-borders tbody:first-child tr:first-child td,
table.pi-table.pi-table-all-borders tfoot:first-child tr:first-child td {
  border-top-width: 1px;
}
.pi-responsive-table-lg {
  width: 100%;
  margin-bottom: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overlow-scrolling: touch;
}
.pi-responsive-table-lg > table {
  margin-bottom: 0;
}
.pi-responsive-table-lg > table > thead > tr > th,
.pi-responsive-table-lg > table > tbody > tr > th,
.pi-responsive-table-lg > table > tfoot > tr > th,
.pi-responsive-table-lg > table > thead > tr > td,
.pi-responsive-table-lg > table > tbody > tr > td,
.pi-responsive-table-lg > table > tfoot > tr > td {
  white-space: nowrap;
}
@media (max-width: 1119px) {
  .pi-responsive-table-md {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overlow-scrolling: touch;
  }
  .pi-responsive-table-md > table {
    margin-bottom: 0;
  }
  .pi-responsive-table-md > table > thead > tr > th,
  .pi-responsive-table-md > table > tbody > tr > th,
  .pi-responsive-table-md > table > tfoot > tr > th,
  .pi-responsive-table-md > table > thead > tr > td,
  .pi-responsive-table-md > table > tbody > tr > td,
  .pi-responsive-table-md > table > tfoot > tr > td {
    white-space: nowrap;
  }
}
@media (max-width: 991px) {
  .pi-responsive-table-sm {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overlow-scrolling: touch;
  }
  .pi-responsive-table-sm > table {
    margin-bottom: 0;
  }
  .pi-responsive-table-sm > table > thead > tr > th,
  .pi-responsive-table-sm > table > tbody > tr > th,
  .pi-responsive-table-sm > table > tfoot > tr > th,
  .pi-responsive-table-sm > table > thead > tr > td,
  .pi-responsive-table-sm > table > tbody > tr > td,
  .pi-responsive-table-sm > table > tfoot > tr > td {
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .pi-responsive-table-xs {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overlow-scrolling: touch;
  }
  .pi-responsive-table-xs > table {
    margin-bottom: 0;
  }
  .pi-responsive-table-xs > table > thead > tr > th,
  .pi-responsive-table-xs > table > tbody > tr > th,
  .pi-responsive-table-xs > table > tfoot > tr > th,
  .pi-responsive-table-xs > table > thead > tr > td,
  .pi-responsive-table-xs > table > tbody > tr > td,
  .pi-responsive-table-xs > table > tfoot > tr > td {
    white-space: nowrap;
  }
}
@media (max-width: 479px) {
  .pi-responsive-table-2xs {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overlow-scrolling: touch;
  }
  .pi-responsive-table-2xs > table {
    margin-bottom: 0;
  }
  .pi-responsive-table-2xs > table > thead > tr > th,
  .pi-responsive-table-2xs > table > tbody > tr > th,
  .pi-responsive-table-2xs > table > tfoot > tr > th,
  .pi-responsive-table-2xs > table > thead > tr > td,
  .pi-responsive-table-2xs > table > tbody > tr > td,
  .pi-responsive-table-2xs > table > tfoot > tr > td {
    white-space: nowrap;
  }
}
@media (max-width: 319px) {
  .pi-responsive-table-3xs {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overlow-scrolling: touch;
  }
  .pi-responsive-table-3xs > table {
    margin-bottom: 0;
  }
  .pi-responsive-table-3xs > table > thead > tr > th,
  .pi-responsive-table-3xs > table > tbody > tr > th,
  .pi-responsive-table-3xs > table > tfoot > tr > th,
  .pi-responsive-table-3xs > table > thead > tr > td,
  .pi-responsive-table-3xs > table > tbody > tr > td,
  .pi-responsive-table-3xs > table > tfoot > tr > td {
    white-space: nowrap;
  }
}
.pi-section-white table.pi-table th {
  border-color: #586266;
  color: #586266;
}
.pi-section-white table.pi-table td {
  border-color: #e5eaea;
}
.pi-section-white table.pi-table.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #f8fafa;
}
.pi-section-white table.pi-table.pi-table-complex tr,
.pi-section-white table.pi-table.pi-table-complex td,
.pi-section-white table.pi-table.pi-table-complex th {
  border-color: #e5eaea;
}
.pi-section-white table.pi-table.pi-table-complex thead tr th {
  background: #f8fafa;
  color: #586266;
  border-color: #e5eaea;
}
.pi-section-white table.pi-table.pi-table-complex tbody tr {
  background: #ffffff;
}
.pi-section-white table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #ffffff;
}
.pi-section-white table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n) {
  background: #f8fafa;
}
.pi-section-white table.pi-table.pi-table-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}
.pi-section-white table.pi-table.pi-table-all-borders th {
  border-color: #e5eaea;
}
.pi-section-grey table.pi-table th {
  border-color: #3f4551;
  color: #1c202a;
}
.pi-section-grey table.pi-table td {
  border-color: #d1d7d9;
}
.pi-section-grey table.pi-table.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #f1f3f6;
}
.pi-section-grey table.pi-table.pi-table-complex tr,
.pi-section-grey table.pi-table.pi-table-complex td,
.pi-section-grey table.pi-table.pi-table-complex th {
  border-color: #d1d7d9;
}
.pi-section-grey table.pi-table.pi-table-complex thead tr th {
  background: #e8ebf0;
  color: #1c202a;
  border-color: #d1d7d9;
}
.pi-section-grey table.pi-table.pi-table-complex tbody tr {
  background: #f8f9fb;
}
.pi-section-grey table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #f8f9fb;
}
.pi-section-grey table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n) {
  background: #f1f3f6;
}
.pi-section-grey table.pi-table.pi-table-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}
.pi-section-grey table.pi-table.pi-table-all-borders th {
  border-color: #d1d7d9;
}
.pi-section-base table.pi-table th {
  border-color: #ffffff;
  color: #ffffff;
}
.pi-section-base table.pi-table td {
  border-color: #e77354;
}
.pi-section-base table.pi-table.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #e45b3c;
}
.pi-section-base table.pi-table.pi-table-complex tr,
.pi-section-base table.pi-table.pi-table-complex td,
.pi-section-base table.pi-table.pi-table-complex th {
  border-color: #ec7b5d;
}
.pi-section-base table.pi-table.pi-table-complex thead tr th {
  background: #e86343;
  color: #ffffff;
  border-color: #ec7b5d;
}
.pi-section-base table.pi-table.pi-table-complex tbody tr {
  background: #e45b3c;
}
.pi-section-base table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #df5031;
}
.pi-section-base table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n) {
  background: #e45b3c;
}
.pi-section-base table.pi-table.pi-table-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pi-section-base table.pi-table.pi-table-all-borders th {
  border-color: #e77354;
}
.pi-section-dark table.pi-table th {
  border-color: #c6ccd0;
  color: #c6ccd0;
}
.pi-section-dark table.pi-table td {
  border-color: #2e343a;
}
.pi-section-dark table.pi-table.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #24292f;
}
.pi-section-dark table.pi-table.pi-table-complex tr,
.pi-section-dark table.pi-table.pi-table-complex td,
.pi-section-dark table.pi-table.pi-table-complex th {
  border-color: #32383f;
}
.pi-section-dark table.pi-table.pi-table-complex thead tr th {
  background: #262c32;
  color: #c6ccd0;
  border-color: #32383f;
}
.pi-section-dark table.pi-table.pi-table-complex tbody tr {
  background: #2a3037;
}
.pi-section-dark table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #2a3037;
}
.pi-section-dark table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n) {
  background: #262c32;
}
.pi-section-dark table.pi-table.pi-table-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pi-section-dark table.pi-table.pi-table-all-borders th {
  border-color: #2e343a;
}
.pi-section-parallax table.pi-table th {
  border-color: #b1b1ba;
  color: #cbccd1;
}
.pi-section-parallax table.pi-table td {
  border-color: #242427;
}
.pi-section-parallax table.pi-table.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #1a1b1d;
}
.pi-section-parallax table.pi-table.pi-table-complex tr,
.pi-section-parallax table.pi-table.pi-table-complex td,
.pi-section-parallax table.pi-table.pi-table-complex th {
  border-color: #25252a;
}
.pi-section-parallax table.pi-table.pi-table-complex thead tr th {
  background: #212224;
  color: #cbccd1;
  border-color: #27282b;
}
.pi-section-parallax table.pi-table.pi-table-complex tbody tr {
  background: #1c1d1f;
}
.pi-section-parallax table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n-1) {
  background: #1b1c1e;
}
.pi-section-parallax table.pi-table.pi-table-complex.pi-table-zebra tbody tr:nth-child(2n) {
  background: #1f2022;
}
.pi-section-parallax table.pi-table.pi-table-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.pi-section-parallax table.pi-table.pi-table-all-borders th {
  border-color: #242427;
}
